/*=============== HEADER & NAV ===============*/
.header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   background-color: transparent;
   z-index: var(--z-fixed);
}

.nav{
   position: relative;
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__logo{
      color: var(--white-color);
      font-weight: var(--font-semi-bold);
   }
   &__toggle,
   &__close{
      font-size: 1.5rem;
      cursor: pointer;
   }
   // Navigation for mobile devices
   &__menu{
      @media screen and (max-width: 1150px){
         position: fixed;
         top: 0;
         right: -100%;
         background-color: hsla(0, 0%, 100%, .1);
         backdrop-filter: blur(16px);
         -webkit-backdrop-filter: blur(16px);
         width: 80%;
         height: 100%;
         padding: 6rem 3rem 0;
         transition: right .4s;
      }
   }
   &__list{
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
   }
   &__link{
      color: var(--white-color);
      font-weight: var(--font-semi-bold);

      &:hover{
         text-decoration: underline;
      }
   }
   &__close{
      position: absolute;
      top: 1rem;
      right: 1.5rem;
   }
}

/* Show menu */
.show-menu{
   right: 0;
}
